.products-table {
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    border-collapse: separate;

}

.products-table th {
    padding: 20px;
    font-size: 1.2rem;
    color: var(--blue-dark);
}

.products-table td {
    padding: 10px;
    text-align: center;
    color: var(--blue-dark);
    border-bottom: 2px solid var(--blue-light);
    vertical-align: middle;
}

.products-table-img {
    width: 130px;
    ;
    border-radius: 5px;
    object-fit: cover;
}

.products-table-btn-wrapper :nth-child(2) {
    margin: 10px;

}

.products-table-btn {
    padding: 5px 15px;
    color: var(--white);
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--blue-light);
    border-radius: 25px;
    cursor: pointer;
}

/* start styling edit modal */
.edit-proructs-form-group {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 8px 5px;
    background-color: var(--white-50);
    border-radius: 10px;
    font-size: 0.9rem;
}



.edit-product-input {
    border: none;
    outline: none;
    background-color: unset;
    font-size: 0.9rem;
    color: var(--blue-dark);
}

/* end styling edit modal */